<!doctype html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
		<title>企业概况</title>
		<!--css-->
		 <%= stylesheet_link_tag    'bootstrap.min'%>
		  <%= stylesheet_link_tag    'wechat/style'%>
  		  <%= stylesheet_link_tag    'mypost4u/pages.css' %>
		<!--js-->
		<%= javascript_include_tag 'jquery.min', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track' => true %>
	</head>

	<body>

<div class="static-container">

	<div class="static-content">
		<div class="static-top-banner bot-gap-1">
			<div class="static-top-title">
				<p class="top-title-p">Europe Time</p>
				<p class="top-title-p">企业概况</p>
			</div>
			<div class="static-top-img"><img src="/assets/mypost4u/new-version/static-car.png"></div>
		</div>
		<div class="static-main-content bot-gap-1">
			<p class="main-title">Europe Time 物流概况</p>
			<p class="main-block top-gap-2">
				Time物流主营中国与欧洲间的双向空运物流业务与进出口贸易业务，与DHL, PostNL, EMS等国际物流巨头之间有常年合作经验。
			</p>
			<p class="main-block">
				Time物流拥有7000平方米的中转仓和现代化的仓储设施，拥有全自助的便捷下单方式和自动化的入库出库系统，提供7*24小时的专业客服咨询，网站实行返积分优惠规则，提供市场最具竞争力的价格和性价比最高的服务一直是Time物流追求的目标。
			</p>
			<p class="main-block">
				Time物流不断地加大投入基础设施建设，积极研发和引进具有高科技含量的信息技术与设备，不断提升作业自动化水平，不断优化网络建设，实现了对快件产品流转全过程、全环节的信息监控、跟踪、查询及资源调度工作，确保了服务质量的稳步提升。
			</p>
		</div>
		<div class="static-main-content bot-gap-1">
			<p class="main-title">Europe Time 物流的优势</p>
			<p class="main-block top-gap-2">
				德国杜塞尔多夫超过7000平方米的仓库和自动化的入库出库系统
			</p>
			<p class="main-block">
				网站实行返积分优惠规则和VIP会员政策，网站自动计算，无需手动申请
			</p>
			<p class="main-block">
				拥有全自助的便捷下单方式
			</p>
			<p class="main-block">
				客服团队拥有多年转运服务经验,提供7*24小时的专业客服咨询
			</p>
		</div>
		<div class="static-bot-banner">
			<img src="/assets/mypost4u/new-version/img1.png">
		</div>
	</div>

</div>

</body>
	
</html>